<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs4>
        <v-text-field v-model="socia" label="Sociabilité" required></v-text-field>
      </v-flex>
      <v-flex xs4>
        <Select :items="populations" label="Populations" @valueChanged="populationChanged" />
      </v-flex>
      <v-flex xs4>
        <Select :items="qualities" label="Qualité" @valueChanged="qualityChanged" />
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs3>
        <v-text-field v-model="name" label="Nom de l'object" required></v-text-field>
      </v-flex>
      <v-flex xs3>
        <Select
          :items="disponibilities"
          label="Disponibilité"
          @valueChanged="disponibilityChanged"
        />
      </v-flex>
      <v-flex xs3>
        <v-text-field v-model="price" label="Prix de base" required></v-text-field>
      </v-flex>
      <v-flex xs3>
        <v-btn @click="add">Ajouter</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs4>
        <Select :items="categories" label="Catégorie" @valueChanged="categoryChanged" />
      </v-flex>
      <v-flex xs4>
        <Select :items="items[category]" label="Object" @valueChanged="itemChanged" />
      </v-flex>
      <v-flex xs4>
        <v-btn @click="addFromList">Ajouter</v-btn>
      </v-flex>
    </v-layout>
    <v-divider></v-divider>
    <v-data-table
      :headers="headers"
      :items="cart"
      hide-actions
      class="elevation-1"
      v-if="hasSelection"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.name }}</td>
        <td class="text-xs-right">{{ props.item.price }}</td>
        <td class="text-xs-right">{{ props.item.quality }}</td>
        <td class="text-xs-right">{{ props.item.score }}</td>
        <td class="text-xs-right">{{ props.item.time }}</td>
        <td class="text-xs-right">{{ props.item.total }}</td>
        <td class="text-xs-right">{{ props.item.success }}</td>
      </template>
    </v-data-table>
    <v-btn @click="empty" v-if="hasSelection">Vider</v-btn>
  </v-container>
</template>
<script>
import Select from "../Select";
import { computeScore, determineTime, isSuccess } from "./helper.js";
import { request } from "../../request.js";
import tableHeader from "./dataTableOptions";
import { findId } from "../helper";
import { string } from "prop-types";
export default {
  name: "Shop",
  components: {
    Select
  },
  data() {
    return {
      cart: [],
      disponibilities: null,
      disponibility: null,
      headers: tableHeader.headers,
      qualities: null,
      quality: null,
      name: "",
      populations: null,
      population: null,
      price: 0,
      socia: 0,
      categories: [{ id: "weapons", label: "Armes" }],
      category: null,
      item: null,
      items: { weapons: [] },
      total: 0
    };
  },
  async created() {
    let results;
    results = await request("{disponibilties{id, label}}");
    this.disponibilities = results.data.data.disponibilties;
    results = await request("{populations{id, label}}");
    this.populations = results.data.data.populations;
    results = await request("{qualities{id, label, priceModificator}}");
    this.qualities = results.data.data.qualities;
    results = await request("{difficulties{id, bonus}}");
    this.difficulties = results.data.data.difficulties;
    results = await request("{weapons{id, label, disponibility, cost}}");
    this.items.weapons = results.data.data.weapons.sort((a, b) =>
      a.label.localeCompare(b.label)
    );
  },
  computed: {
    hasSelection: function() {
      return this.cart.length > 0;
    }
  },
  methods: {
    add: function() {
      if (
        this.name &&
        this.price &&
        this.qualities &&
        this.socia &&
        this.disponibility &&
        this.population
      ) {
        const score = this.score();
        this.cart.push({
          name: this.name,
          price: this.price,
          quality: findId(this.qualities, this.quality).label,
          score: score,
          time: this.time(),
          total:
            parseInt(this.price, 10) *
            parseInt(findId(this.qualities, this.quality).priceModificator),
          success: this.success(score)
        });
      }
    },
    addFromList: function() {
      if (this.item && this.qualities && this.socia && this.population) {
        const score = this.score(this.item.disponibility);
        this.cart.push({
          name: this.item.label,
          price: this.item.cost,
          quality: findId(this.qualities, this.quality).label,
          score: score,
          time: this.time(this.item.disponibility),
          total:
            parseInt(this.item.cost, 10) *
            parseInt(findId(this.qualities, this.quality).priceModificator),
          success: this.success(score)
        });
      }
    },
    disponibilityChanged: function(value) {
      this.disponibility = value;
    },
    empty: function() {
      this.cart = [];
    },
    populationChanged: function(value) {
      this.population = value;
    },
    qualityChanged: function(value) {
      this.quality = value;
    },
    categoryChanged: function(value) {
      this.category = value;
    },
    itemChanged: function(value) {
      this.item = findId(this.items[this.category], value);
    },
    score: function(definedDisponibility) {
      return computeScore(
        this.difficulties,
        this.socia,
        definedDisponibility || this.disponibility,
        this.population
      );
    },
    time: function(definedDisponibility) {
      return determineTime(
        this.population,
        definedDisponibility || this.disponibility
      );
    },
    success: function(score) {
      return isSuccess(score) ? "Réussite" : "Echec";
    }
  }
};
</script>

