<template>
  <div>
    <Menu :open="open"/>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click="open = !open"></v-toolbar-side-icon>
      <v-toolbar-title>Dark Heresy</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
import Menu from './Menu.vue'

export default {
  name: 'Header',
  components: {
    Menu
  },
  data(){
    return{
      open: false
    }
  }
}
</script>