<template>
  <v-navigation-drawer v-if="open" clipped fixed app>
    <v-list dense>
      <v-list-tile v-for="option in menu" :key="option.componentName">
        <v-list-tile-action>
          <v-icon>{{option.icon}}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>{{option.label}}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Menu",
  props: ["open"],
  data() {
    return {
      menu: [
        {
          componentName: "shop",
          label: "Achats",
          icon: "shopping_cart"
        },
        {
          label: "Arme",
          icon: "gavel"
        },
        {
          label: "Armure",
          icon: "security"
        },
        {
          label: "Objet",
          icon: "map"
        }
      ]
    };
  }
};
</script>