<template>
  <div>
     <v-select
          :items="items"
          v-model="value"
          :label="label"
          item-value="id"
          item-text="label"
    ></v-select>
  </div>
</template>

<script>



export default {
  name: 'Quality',
  props: ['items', 'label'],
  data(){
    return {
      value: ''
    }
  },
  watch: {
    value: function (newValue) {
      this.$emit('valueChanged', newValue);
    }
  },
}
</script>
